#info_other .InfoBanner_Image_container {
  /* background-color: #ececec; */
  background-color: transparent;
}
#info_other .InfoBanner_Image_container img {
  /* background-color: #ececec; */
  padding: 15px;
  width: 100%;
  height: 100%;
  max-height: 350px;
  max-width: 500px;
  margin: 0 auto;
}
#info_other .multi_sections_container {
  display: none;
}

#info_other .Contact_info_container,
#info_other .About_info_container {
  background-color: #f9fbfd;
}
.ContactPage #info_other .multi_sections_container.Contact_info_container,
.AboutPage #info_other .multi_sections_container.About_info_container {
  display: block;
}

.boxFill a {
  width: 20%;
  margin: 10px;
}
.boxFill button {
  min-width: 100%;
}

@media only screen and (min-width: 992px) {
  #info_other .info_order_change {
    order: 2;
  }
}

@media only screen and (max-width: 575px) {
  #info_other .InfoBanner_Image_container {
    padding: 15px;
  }
}
