#IconFloating_section .icontext_card {
  /* background-color: transparent; */
  background-color: #fff;
  padding: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 8px 0px; */
  box-shadow: 0 16px 64px 0 rgba(18, 21, 26, 0.24);
  border-radius: 8px;
  border: 1px solid #dee2e7;
  /* opacity: 0; */
  transform: scale(1);
  transition: transform 0.1s ease-in;
}

#IconFloating_section .icontext_card.icontext_card_whitebg {
  box-shadow: 0 16px 32px 0 rgba(18, 21, 26, 0.12);
  border-color: #fff;
}

#IconFloating_section .icontext_card.icontext_card_whitebg:hover {
  box-shadow: 0 16px 64px 0 rgba(18, 21, 26, 0.24);
}

#IconFloating_section .icontext_card_nobg {
  background-color: transparent;
  margin: 15px;
}

#IconFloating_section .icontext_card_nobg .iconHead {
  text-align: center;
  color: #fff;
  opacity: 0.7;
  padding: 8px 0;
}

#IconFloating_section .icontext_card_nobg .icon_image {
  max-width: 80px;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  position: relative;
  transition: transform 0.35s;
  transition-timing-function: cubic-bezier(0.12, 0.845, 0.305, 1);
}

#IconFloating_section .icontext_card_nobg:hover .icon_image {
  transform: translateY(-16px) rotate(8deg);
}

/* #IconFloating_section .icontext_card_nobg .icon_image::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 66px;
  bottom: -15px;
  left: 50%;
  margin-left: -33px;
  background: rgba(0, 0, 0, 0.06);
  z-index: -1; 
}
*/
/* #IconFloating_section .icontext_card .icon_image {
  filter: brightness(0) invert(1);
} */

#IconFloating_section .icontext_card.mr3 {
  margin-right: 3%;
}

#IconFloating_section .icontext_card > div {
  padding-left: 15px;
  padding-right: 15px;
}

#IconFloating_section .icontext_card li {
  margin: 10px 0;
}

#IconFloating_section .iconHead {
  font-size: 18px;
  font-weight: bold;
}

#IconFloating_section .iconDescription {
  font-size: 14px;
}

#IconFloating_section .icontext_card:hover {
  background-image: linear-gradient(to right, #f25663, #f25663 50%, #f25a89);
  /* background-image: linear-gradient(to right, #fff, #fff 50%, #ffff); */
  border-color: #f25a89;
  color: #fff;
  transform: scale(1.02);
}

#IconFloating_section .icontext_card:hover .icon_image {
  /* filter: none; */
  /* filter: unset; */
  filter: brightness(0) invert(1);
}

#IconFloating_section .icon_image {
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
  object-fit: contain;
  padding: 10px;
}

/* show and hide */

.Icon_Floating_Container {
  display: none;
}

.FormRecognitionPage .Icon_Floating_Container.FormRecognition.Benefits,
.HomePage .maxproeff_container .Icon_Floating_Container.Home.MaxProEff,
.HomePage .applications_container .Icon_Floating_Container.Home.Applications {
  display: block;
}
