.HomePage {
  overflow: inherit !important;
  overflow: visible !important;
  overflow: unset !important;
}
#scroll_fixed .scrollmain .scrollmain_left {
  width: 30%;
  position: sticky;
  top: 150px;
  float: left;
  margin-right: 4%;
  /* top: 50%;
    transform: translateY(-50%); */
}
#scroll_fixed .scrollmain .scrollmain_right {
  width: 65%;
  display: inline-block;
}
