/* set overflow to page important */
#scroll_fixed .scrollmain .scrollmain_left .scrollmain_left_items {
  display: none;
}
.btn.btn_secondary.dark {
  margin: 0px 0px 40px 0px;
}
#scroll_fixed .scrollmain .scrollmain_right_content {
  margin: 0 auto 80px;
}
#scroll_fixed .scrollmain .scrollmain_right_content img {
  margin: 0 auto;
}

@media only screen and (min-width: 991px) {
  .HomePage {
    overflow: inherit !important;
    overflow: visible !important;
    overflow: unset !important;
  }
  #scroll_fixed .scrollmain .scrollmain_left {
    width: 35%;
    position: sticky;
    top: 100px;
    float: left;
    /* top: 50%;
      transform: translateY(-50%); */
  }

  #scroll_fixed .scrollmain .scrollmain_right {
    width: 65%;
    display: inline-block;
  }

  #scroll_fixed .scrollmain .scrollmain_left .scrollmain_left_items {
    display: block;
  }

  #scroll_fixed .scrollmain .scrollmain_left .scrollmain_left_items li.active {
    font-weight: bold;
  }

  #scroll_fixed .scrollmain .scrollmain_left .scrollmain_left_items li {
    cursor: pointer;
    position: relative;
  }

  #scroll_fixed .scrollmain .scrollmain_left .scrollmain_left_items li::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: #f2863a;
    transition: width 0.4s ease;
    transition-delay: 0.4s;
  }

  #scroll_fixed
    .scrollmain
    .scrollmain_left
    .scrollmain_left_items
    li.active::before {
    width: 20px;
  }

  #scroll_fixed .scrollmain .scrollmain_left .btn {
    margin: inherit;
    margin: initial;
    margin: unset;
  }

  #scroll_fixed .scrollmain .scrollmain_right_container {
    width: 60%;
    /* margin: 0 auto 100px; */
    margin: 0 auto 200px;
  }
  #scroll_fixed .scrollmain .scrollmain_right_content {
    margin: 0 auto 100px;
    /* margin: 0 auto 200px; */
  }
  /* #scroll_fixed .scrollmain .scrollmain_right_content:last-child {
    margin-bottom: 0;
  } */
  #scroll_fixed .scrollmain_right_content div.topic {
    position: relative;
    top: -93px;
    display: block;
    visibility: hidden;
  }

  #scroll_fixed .scrollmain .scrollmain_right .scrollmain_right_container img {
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
  }
}
